:root {
    --primary-color: #f6f4ee;
    --font-color: #000000;
    --seconadry-color: rgba(111, 75, 41, 0.695);
    --third-color: #efefef;
    --h2-size: 2rem;
    --p-size: 1.4rem;
    --shadow: 0px 10px 15px rgba(0, 0, 0, 0.092);
    --transition-time: 0.5s;
}
* {
    box-sizing: border-box;
}
html {
     scroll-behavior: smooth;
}
body {
    /* font-family: "Playpen Sans Arabic", cursive; */
    font-family: "IBM Plex Sans Arabic", sans-serif;
    background-color: #f6f4ee;
    margin: 0 ;
    padding: 0 ;
    direction: rtl;
}
.container {
    width: calc(100vw - 100px);
    margin: 0 auto;
}
button {
    border: none;
    width: 220px;
    height: 47px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid #1A1A1A;
    transition: var(--transition-time);
}
button:hover {
    filter: brightness(92%);
}
/* header section start  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 2% auto 0;
    /* border: 1px solid #1A1A1A; */
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(22px);
    width: calc(100vw - 100px);
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 30px;
    overflow: hidden;
    /* position: fixed; */

}
header ul {
    display: flex;
    list-style: none;
    gap: 120px;
    flex-direction: row;
}
header a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
}
header a:hover::after {
    width: 100%;
}
header a::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--seconadry-color);
    right: 0;
    transition: width var(--transition-time) 0.1s;
    margin-bottom: -5px;
}
header .logo {
    width: 90px;
    height: 40px;
}
/* header section end  */

/* hero section start  */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 30px; */
}
.hero-img {
    width: 37vw;
    height: 65vh;
    border-radius: 15px;
    margin-top: 1.3%;
    margin-left: 3%;
}
main h1 {
    font-size: 3.6rem; 
}
main p {
    font-size: 1.6rem;
    margin-bottom: 5%;
}
.button-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
main .start {
    font-weight: 500;
    font-size: 1.3rem;
    background: linear-gradient(90deg,rgb(225, 154, 107) 0%, rgba(235, 184, 82, 0.54) 100%);
}
main .login {
    border: 1px solid #1A1A1A;
}
/* hero section end  */

/* features section start */
.feat {
    height: 100vh;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    margin-top: 2rem;
    padding-top: 40px;
}
.feat-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 100px;

}
.feat-card {
    text-align: center;
    height: 170px;
    width: 350px;
    direction: rtl;
    /* border: 1px solid black; */
    border-radius: 20px;
    padding: 20px 10px 50px 10px;
    background-color: var(--third-color);
    transition:  var(--transition-time);
}
.feat-card:hover,
.demo:hover {
    transform: translateY(-2px);
    filter: drop-shadow(var(--shadow));
}
i {
    font-size: 25px;
    color: var(--seconadry-color);
    font-weight: 300;
}
.final-feat {
    display: flex;
    width: 50vw;
    margin: auto auto;
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    margin-top: 3rem;

}

.final-feat h2 {
    font-size: 30px;
}
.final-feat p {
    font-size: 20px;
}
.feat .container {
    display: flex;
    justify-content: center;
    margin: 0 0;
}
.feat img {
    height: 50vh;
    width: 400px
}
.final-feat ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 2.5vh;
    
}
 .final-feat i {
    font-weight: 200;
 } 
 .final-feat li {
    background-color: rgba(73, 57, 12, 0.046);
    width: 16vw;
    padding: 1rem;
    border-radius: 20px;
 }
 i {
    vertical-align: middle;
    font-size: 1.3rem;
    margin-left: 10px;
}

/* features section end */
/* price section start  */
.price-section {
    height: 80vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price-section h2 {
    text-align: center;
    font-size: var(--h2-size);
    margin: 0;
}
.price-section p {
    text-align: center;
    font-size: 20px;
}
.price-card {
    height: 450px;
    background-color: var(--third-color);
    width: 350px;
    margin: auto;
    overflow: hidden;
    border: 2px solid rgba(80, 78, 78, 0.716);
}
.price-card h3 {
    background: linear-gradient(90deg,rgb(225, 154, 107) 0%, rgba(235, 184, 82, 0.54) 100%);
    /* background-color: var(--seconadry-color); */
    margin: 0;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    word-spacing: 1px;
    border-bottom: 2px solid rgba(97, 93, 93, 0.716);
    font-size: 22px;
    color: rgb(51, 49, 49);
}
.price-card ul  {
    list-style: none;
    margin-top: 30px;
    margin-right: 20px;
}
.price-card ul i {
    font-size: 14px;
    font-weight: 200;
    opacity: 0.7;
}
.price-card span:first-of-type {
    font-size: 50px;
}
.price-card span:last-of-type {
    font-size: 26px;
}
.price-card p {
    font-size: 16px;
}
.price-card li {
    font-size: 15px;
}
.price-card .fa-gift {
    margin-left: 5px;
    font-size: 17px;
    margin-bottom: 3px;
}
.price-card .last-p {
    margin-top: 30px;
    font-weight: 500
}
.price-card button {
    margin-right: 55px;
    font-weight: 500;
}
/* price section end  */
/* demos section  start  */
.demos-section {
    height: 70vh;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
}
.demos-container {
    height: 40vh;
    width: 30vw;
    overflow: auto;
    display: flex;
    gap: 20px;
    padding: 10px;
}
.demo {
    height: 100%;
    width: 100%;
    background-color: var(--third-color);
    width: calc(100% - 100px);
    border-radius: 15px;
    overflow: hidden;
    transition: var(--transition-time);
}
.demo img  {
    height: 70%;
    width: 100%;
    border-bottom: 1px solid var(--seconadry-color);
}
.demo p {
    text-align: center;
    font-size: 20px;
}
.demos-section button {
    background-color: #198754;
    color: #fff;
    margin-right: 10px;
}
.demos-section button i {
    color: #fff;
    margin-left: 0px;
}
.demos-section h2 {
    font-size: var(--h2-size);
    margin-bottom: 10vh;
}
/* demos section  end  */
/* footer section start  */
footer {
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    background-color: var(--third-color);
}
footer img {
    width: 170px;
    height: 100px;
    margin: auto;
}
footer p {
    font-size: var(--p-size);
    font-weight: 500;
    text-align: center;
}
/* footer section end  */


